@{
Layout = null;
ViewBag.Title = "";
}
<style>
ul 
{
	font-size:10pt;
}
ul li 
{
	font-size:12px;
	line-height:1;
}
</style>
<div style="background-color: rgb(248, 248, 248);padding:5px;border: 1px solid rgb(212, 218, 222);">
<h1>Password Requirements</h1>
<ul>
    <li>Minimum of 12 characters</li>
    <li>Contains at least one of each:</li>
        <ul>
        <li>Upper case letter</li>
        <li>Lowercase letter</li>
        <li>Number</li>
        <li>Special character</li>
        </ul>
    <li>Cannot reuse one of your last 24 passwords</li>
</ul>
</div>