@{
    ViewBag.Title = "About Us";
}
    	<div class="content_header"><h4>About Evaluation Engine</h4></div>
    	<div class="static-content">
        	<div class="side-box">
       			<h5>Contact Us</h5>
            	<span class="block">Questions? Comments? Problems?<br />
                We'd like to hear from you.<br /><br />
                <a href="mailto:info@evaluationengine.org">info@evaluationengine.org</a></span>
        	</div>
            <div class="about-bg"><img src="@Url.Content("~/Content/inc/img/clear.png")" alt="About Evaluation Engine" width="1" height="1" /></div>
            <div class="align-mid">
                <p>The Evaluation Engine will make it possible for states, school districts, and education researchers to perform rapid experimental and quasi-experimental impact analyses using the power of new state longitudinal data systems – without permitting access to confidential underlying data. Users, who can be state or district researchers, or anyone authorized by the state, simply upload a list of student IDs, and the software quickly creates an invisible link to a propensity-score matched comparison group using data from the state longitudinal database. All of the analysis is done automatically and securely behind a firewall. The users come away with a simple report comparing the growth of their students to the comparison group -- but the underlying data never needs to be shared.</p><br />
            </div>
        </div><!--end static-content-->