@{
    ViewBag.Title = "Evaluation Engine - Technical Documentation";
}
<div class="content_header"><h4>Technical Documentation</h4></div>
    	<div class="static-content">
        	<div class="side-box">
                <h5>Technical Documentation</h5>
                <span class="block"><img src="@Url.Content("~/Content/inc/img/icon_download.png")" alt="Download icon" height="16" width="14" /><a href="#">Placement Text</a> <span class="sm-font">(PDF, XX KB)</span></span>
                <span class="block"><img src="@Url.Content("~/Content/inc/img/icon_download.png")" alt="Download icon" height="16" width="14" /><a href="#">Placement Text</a> <span class="sm-font">(PDF, XX KB)</span></span>
                <span class="block"><img src="@Url.Content("~/Content/inc/img/icon_download.png")" alt="Download icon" height="16" width="14" /><a href="#">Placement Text</a> <span class="sm-font">(PDF, XX KB)</span></span> 
        	</div>
        	<div class="docs-bg"><img src="@Url.Content("~/Content/inc/img/clear.png")" alt="Technical Documentation" width="1" height="1" /></div>
            <div class="align-mid">
                <p>Placement text.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla neque lectus, commodo ut auctor eu, elementum quis mi. Nulla lacinia aliquam diam, ac venenatis quam rutrum ut. Aenean nec rutrum augue. Duis cursus pharetra convallis.</p><br />
                <p>Nulla facilisi. Nulla in urna nisi, et tempus tortor. Aenean posuere suscipit ante, id ullamcorper libero semper sit amet. Morbi cursus massa at magna commodo in mattis lacus consectetur. Maecenas varius lorem vitae eros faucibus consequat. </p><br />
                <p>Aenean sed felis odio, eu molestie felis. Phasellus sit amet tellus vel tortor rhoncus pellentesque. Donec mollis iaculis commodo. Aliquam luctus orci et ante interdum id hendrerit urna molestie. Fusce iaculis, velit sit amet dictum luctus, nibh turpis fermentum massa, non venenatis risus sapien ultricies.</p><br />
                <p>Questions? Contact: <a href="mailto:info@evaluationengine.org">info@evaluationengine.org</a></p>
            </div>
        </div><!--end static-content-->